html {
	
	background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
	background-size: cover;
	font-size: 10px;
}

body,html {
	margin: 0;
	padding: 0;              /*//css reset*/
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center; /*// align-items + min-height*/
	min-height: 100vh;       /*// allowed it to center*/
}


.key {
	width: 10rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	border-radius: 1rem;
	border: .5rem solid black;
	text-align: center;
	transition: all 0.1s;
	color: white;
	padding: 1rem .5rem;            
}
.playing {
	border: solid 2px orange;
	transform: scale(1.2);
}

kbd {
	display:block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #ffc600;
}